/* @import url('halloween.css'); */
@import url("print.css");
@media screen {
  body {
    color: red;
    font-size: 100%;
    background-color: darkcyan;
  }
  h1 {
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
  }
  h2 {
    font-style: italic;
    font-size: 1.5em;
    color: green;
    background: rgb(216, 224, 222); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(216, 224, 222, 1) 0%,
      rgba(174, 191, 188, 1) 22%,
      rgba(153, 175, 171, 1) 33%,
      rgba(142, 166, 162, 1) 50%,
      rgba(130, 157, 152, 1) 67%,
      rgba(78, 92, 90, 1) 82%,
      rgba(14, 14, 14, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(216, 224, 222, 1) 0%,
      rgba(174, 191, 188, 1) 22%,
      rgba(153, 175, 171, 1) 33%,
      rgba(142, 166, 162, 1) 50%,
      rgba(130, 157, 152, 1) 67%,
      rgba(78, 92, 90, 1) 82%,
      rgba(14, 14, 14, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(216, 224, 222, 1) 0%,
      rgba(174, 191, 188, 1) 22%,
      rgba(153, 175, 171, 1) 33%,
      rgba(142, 166, 162, 1) 50%,
      rgba(130, 157, 152, 1) 67%,
      rgba(78, 92, 90, 1) 82%,
      rgba(14, 14, 14, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  }
  header h2 {
    color: black;
  }
  #thatM {
    color: black;
  }
  p {
    font-size: 10px;
    color: blue;
  }
  p.pTwo {
    color: black;
    font: bold 15px Arial sans-serif;
  }
  nav ul li {
    list-style: none;
  }
  nav a {
    text-decoration: none;
  }
  nav a:link {
    color: white;
    background-color: red;
  }
  nav a:visited {
    color: white;
    background-color: red;
  }
  nav a:hover {
    color: red;
    background-color: white;
  }
  nav a:active {
    color: red;
    background-color: white;
  }
  header {
    text-align: center;
    background: rgb(206, 219, 233); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(206, 219, 233, 1) 0%,
      rgba(170, 197, 222, 1) 17%,
      rgba(97, 153, 199, 1) 50%,
      rgba(58, 132, 195, 1) 51%,
      rgba(65, 154, 214, 1) 59%,
      rgba(75, 184, 240, 1) 71%,
      rgba(58, 139, 194, 1) 84%,
      rgba(38, 85, 139, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(206, 219, 233, 1) 0%,
      rgba(170, 197, 222, 1) 17%,
      rgba(97, 153, 199, 1) 50%,
      rgba(58, 132, 195, 1) 51%,
      rgba(65, 154, 214, 1) 59%,
      rgba(75, 184, 240, 1) 71%,
      rgba(58, 139, 194, 1) 84%,
      rgba(38, 85, 139, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(206, 219, 233, 1) 0%,
      rgba(170, 197, 222, 1) 17%,
      rgba(97, 153, 199, 1) 50%,
      rgba(58, 132, 195, 1) 51%,
      rgba(65, 154, 214, 1) 59%,
      rgba(75, 184, 240, 1) 71%,
      rgba(58, 139, 194, 1) 84%,
      rgba(38, 85, 139, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */
  }
  footer {
    font-weight: bold;
  }
  nav ul li {
    font-variant: small-caps;
    list-style: none;
    background: url('link_pic.png') no-repeat left top;
  }
  nav a {
    text-decoration: none;
  }
  nav a:link {
    color: white;
    background-color: red;
  }
  article{
      border-bottom: 10px;
  }
}
